html {
    font-size: 62.5%;
}

body {
    font-family: var(--base-font);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--base-col);
    padding-top: var(--header-height);
}

a {
    color: var(--accent-col);
    text-decoration: none;
    transition: color 0.15s ease-in-out;

    &:hover {
        color: var(--base-col);
    }
}

svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.portfolio-wrap {
    margin-top: -85px;
}
