.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;
    margin: 0 auto;

    .row {
        margin-left: calc(-1 * var(--gutter-width));
        margin-right: calc(-1 * var(--gutter-width));
    }
}

.column {
    flex: 1;
    padding: 0 var(--gutter-width);
}
