.row {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 var(--gutter-width);

    .row {
        padding: 0;
    }

    &--flex {
        display: flex;
        flex-wrap: wrap;
    }

    &--space-between {
        justify-content: space-between;
    }
}

.column {
    flex: 1;
    padding: 0 var(--gutter-width);

    &.full-width {
        width: 100%;
        flex: 0 0 100%;
    }
}
